@import url('https://fonts.googleapis.com/css?family=Hind&display=swap');
:root {
  --linearGradient: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

body {
  font-family: 'Hind', sans-serif;
}

p {
  line-height: 1.8rem;
  color: rgba(132,137,145,1);  
}