@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url("https://use.typekit.net/lbo0thk.css");

:root {
  --linearGradient: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  --mainGrey: rgb(132,137,145);
}

$mainBlue: rgba(23,129,241,1);

body {
  font-family: proxima-nova, sans-serif;
}

p {
  line-height: 1.8rem;
  color: var(--mainGrey);  
}

a, a:hover, a:visited {
    text-decoration: none;
}

.Title {
  color: white; 
  font-size: 36px;
  line-height: 48px;
  font-weight: 600;
  margin: 0; 

  @media (min-width: 767px) {
    font-size: 60px; 
    line-height: 72px;
  }
}

.Lead {
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Hind', sans-serif;
  line-height: 30px;
  margin-bottom: 1rem; 
  margin-top: 1rem; 

  @media (min-width: 767px) {
    margin-bottom: 1.8rem; 
    margin-top: 1.8rem; 
  }
}

.Heading {
  font-family: proxima-nova, sans-serif;
  font-weight: 600;
  font-style: normal;
}


/* BUTTON GLOBAL */

.Button {
  cursor: pointer; 
  background-color: $mainBlue;
  color: #ffffff;
  border-color: $mainBlue; 
  border-radius: 3px;
  font-family: proxima-nova, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;  
  display: inline-block;

  &:hover {
      color: white;
      
    }
  
  &--small {
    font-size: 12px;
    line-height: 12px;   
    padding: 11px 25px;
  }

  &--medium {
    font-size: 12px;
    line-height: 12px;
    padding: 14px 34px;
  }

  &--large {
    font-size: 13px;
    line-height: 13px;
    padding: 15px 40px;
    transition: all .3s linear; 

    &:hover {
      background-color: #ffffff;
      color: $mainBlue;
      border-color: white;
    }
  }

  &--transparent {
    background-color: rgba(255,255,255,0.2); 
    border-color: transparent; 
  }
}

/* NAVBAR */

.Navbar {
  background: rgba(34,34,34,0.2); 
  box-shadow: 0px 5px 30px 0px rgba(36,36,36,0.07);
  padding: 25px 30px 25px 30px;
  transition: all .3s ease-out; 
}


















.background {
  /* position: relative;  */
  /* width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
}
.background--default {
  height: 70vh; 
  background : linear-gradient( 45deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%  );
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.background--main {
  height: 100vh; 
  background-color: rgba(0, 0, 0, 0.35);
  // background : linear-gradient( 45deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%  );
   width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}












/**************   Features Section ******************/
.Features__card {
  background: rgba(242,243,245,1);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
  transition: all .5s;
}

.Features__card:hover {
  background: linear-gradient(45deg, rgba(59,189,252,1) 0%, rgba(22,121,230,1) 100%);
  box-shadow: 0 30px 65px rgba(0,0,0,.15);
}

.Features__card:hover .Features__content{
  transform: translate(0, -20%); 
  transition: all 0.6s;
}

.Features__card:hover h5 {
  color: white; 
}

.Features__card:hover p {
  color: white; 
}

.Features__card:hover svg {
  visibility: hidden; 
}

/**************   Companies Section ******************/
.Companies {
  background-color: rgba(250,251,253,1);
  padding: 7rem 2rem;

  &__image {
    height: 50px; 
  }
}

/**************   Process Section ******************/
.Process {
  padding: 4rem 0;
}
.Process__separator {
  top: 38px; 
  position: absolute; 
  height: 2px; 
  width: calc(100% - 120px);
  background: #d8d8d8;
  transform: translate3d(50%,0,0);
  right: 0;
}

/**************  Recognition Section ******************/
.Recognition {
  background-color: rgba(250,251,253,1);
}



/**************  FAQ Section ******************/
.FAQ__card {
  cursor: pointer;
}


/**************  Footer Section ******************/
.Footer {
  background-color: #222222;

  p {
    font-size: 0.9rem;
  }

  button {
  font-family: 'Lato', sans-serif;
  }
}


/**************  Copyright Section ******************/
.Copyright {
  background-color: rgba(26,26,26,1);

  p {
    font-size: 0.9rem;
  }
}


/**************  CONTACT PAGE ******************/
.Contact__container {
  box-shadow: 0px 5px 30px 0px rgba(214,215,216,0.57);
  margin-top: -5rem; 
  margin-bottom: 3rem; 
  background-color: white;
}

.Contact__container p{
  line-height: 1.8rem;
  color: rgba(132,137,145,1); 
}

.Form input,textarea {
  box-shadow: inset 0 0 4px 0 rgba(0,0,0,.15);
}

.Form input::placeholder{
  font-size: 0.9rem;
  font-family: 'Lato', sans-serif; 
  color: rgba(34,34,34,0.31);
}

.Form textarea::placeholder{
  font-size: 0.9rem;
  font-family: 'Lato', sans-serif; 
  color: rgba(34,34,34,0.31);
}